.App {
  max-width: 1920px ;
  margin: 0 auto;
}

.page {
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  body {
    width: 300%;
  }
}

@media print {
  /* Ẩn nút in mặc định của trình duyệt */
  .no-print {
    display: none;
  }
  .page-header,
  .page-footer {
    display: none;
  }
  
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.password-form {
  position: fixed;
  top: 50%;
  width: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.password-form input {
  margin: 10px;
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-form button {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.password-form button:hover {
  background: #0056b3;
}
.close-button {
  position: absolute;
  color: black !important;
  top: 10px;
  right: 10px;
  cursor: pointer;  
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
}
